<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}app.global.title{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
            {% include "/head.html.twig" %}
        {% endblock %}
    </head>
    <body>
        <main class="container-fluid">
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
